h2 {
  color: rgb(22, 17, 70);
}

h1.heading-title.mb-2,
.darkmode--activated h1,
.darkmode--activated h2,
.darkmode--activated div.media-content {
  color: rgb(208, 203, 139);
}

.darkmode--activated li.list-group-item,
.darkmode--activated div.mockup-content {
  background-color: rgb(22, 17, 70);
}

.darkmode--activated button.heading-subtitle,
.darkmode--activated input.form-control {
  background-color: beige;
}

.darkmode--activated a.btn.p-2.view-button.heading-subtitle.ml-2 {
  background-color: beige;
  color: #2f4f4f;
}

.darkmode--activated div.modal-content,
.darkmode--activated div.Toastify__toast {
  background-color: rgb(22, 17, 70);
}

.darkmode--activated div.modal-title,
.darkmode--activated label.form-label {
  color: rgb(208, 203, 139);
}

.darkmode--activated button.btn.btn-primary {
  background-color: rgb(208, 203, 139);
  color: rgb(22, 17, 70);
}

nav.navbar {
  position: relative;
}

button.navbar-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
}
