.navbar-light {
  background-color:rgb(157, 173, 247);
  height: 34px;
  line-height: 34px;
  letter-spacing: 0.1em;
}

.brand-titles {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.heading-titles {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}
.heading-titles:hover {
  color: black;
}
